#content {
  font-family: 'Open Sans', sans-serif;
}

#content header {
  text-align: center;
  background: #F1F2F2;
  padding: 2em 0;
}

#content h1 {
  text-transform: uppercase;
  color: #9F9F9F;
  margin-top: 0;
  font-size: 3em;
  margin-bottom: 0.25em;
  letter-spacing: 0.05em;
}

#content h2 {
  color: #C3C3C3;
  font-size: 2em;
}
