@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  animation: fadeIn 500ms linear;

  &::before {
    content: '';
    display: inline-block;
    font-size: 2em;
    width: 1em;
    height: 1em;
    animation: spin 1.5s linear infinite;
    border: 0.1em solid #aaa;
    border-radius: 100%;
    border-bottom-color: white;
    margin-top: 33vh;
  }
}
