@import 'cover';
@import 'content';
@import 'spinner';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ie-fix {
  // https://codepen.io/chriswrightdesign/pen/emQNGZ
  display: flex;
  flex-direction: row;
}

.center {
  max-width: 50em;
  width: 90%;
  margin: auto;
}

.lift {
  transform: translateY(-100%);
}
