@import 'cover';
@import 'content';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 50em;
  width: 90%;
  margin: auto;
}

.lift {
  transform: translateY(-100%);
}
